

.title{
	margin-top: 1.5rem;
	font-size: 3.5rem;
}

.add_btn{
	margin-top: 1.9rem; 
}

.form_section{
	margin-top: 2.5rem;
}

#title_error{
	color: red !important;
}

#ylink_error{
	color: red !important;
}

.table_section{
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: none;
}

a:active{
	color: black;
	text-decoration: none;
}

